* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(215, 215, 215);
}

.loc {
    position: absolute;

    top: 15%;
    left: 40%;
    transform: translate(-40%, -15%);
}

.box {
    height: 20vh;
    width: 25vw;
    border-radius: 2rem;
    /* background-color: #fff; */
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.box>input {
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 80vw;

}

.card {
    text-align: center;
    width: 24rem;
    height: 16rem;
    position: absolute;
    top: 70%;
    left: 50%;
    border-radius: 2rem;
    background-color: rgb(112, 112, 112);
    transform: translate(-50%, -50%);
}

.show {
    max-height: 10vh;
    width: 25vw;
    position: absolute;
    top: 100%;
    background-color: rgb(190, 190, 190);
    overflow: hidden;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
}

#iconurl {
    background-color: rgb(241, 90, 90);
    margin-top: 1rem;
    border-radius: 20rem;
}

h4 {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span {
    display: flex;
align-items: flex-start;
justify-content: start;
    color: white;
}